.staffList {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
}

.staffMemeber {
    display: table-cell;
}

.staffList, .staffList li {
    margin-bottom: 20px;
    list-style-type: none;
}

    .staffList li .staffMemeber {
        padding: 10px 5px;
        background-color: #e9e9e9;
        margin: 10px;
        border: 2px solid #e4e4e4;
        border-radius: 8px;
        /*10px 10px #bbbdbe*/
        /* box-shadow: 10px 10px;*/
    }

        .staffList li .staffMemeber:hover {
            box-shadow: 10px 10px 10px 4px #4a4a4a73;
        }

.staffMemebrPic {
    max-width: 200px !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.staffMemebrDesc {
    overflow-wrap: break-word;
}
